/* My Courses Block
-------------------------*/
.block_cam_mycourses .mycourse_categories {
    float:left;
    width:120px;
    margin-top:15px;
}
.block_cam_mycourses .mycourse_categories .mycourse_category {
    font-size:0.9em;
    display:block;
    margin:0 0 2px;
    padding:7px 0 6px 10px;
    background:#EEEEEE;
    border-top:1px solid #DDDDDD;
    border-left:1px solid #DDDDDD;
    border-bottom:1px solid #DDDDDD;
}
.block_cam_mycourses .mycourse_categories .mycourse_category.selected {
    background:#FFFFFF;
    margin-right:-1px;
}
.block_cam_mycourses .content {
    padding:0 0 0 4px !important;
    background:#FAFAFA;
}
.block_cam_mycourses .mycourse_content {
    height:350px;
    overflow:auto;
    margin-left: 120px;
    padding:21px 15px;
    background:#FFFFFF;
    border-left:1px solid #DDDDDD;
}
.block_cam_mycourses .mycourse_content .coursebox {
    border:none;
    margin:0 0 5px;
    padding:0 0 10px;
    position:relative;
    -moz-border-radius:0;
}
.block_cam_mycourses .mycourse_content .coursebox h3 {
    margin:0 0 10px;
    padding:0 0 4px;
    text-align:left;
    border-bottom:1px solid #DDDDDD;
}
.block_cam_mycourses .mycourse_content .mycourse_group {
    float:right;
    margin-top:-31px;
}
.block_cam_mycourses .mycourse_content .mycourse_grouplist {
    visibility:hidden;
    margin:0;
    padding:2px;
    position:absolute;
    top:-10px;
    right:0;
    z-index:1;
    background:#FFFFFF;
    border:1px solid #DDDDDD;
}
.block_cam_mycourses .mycourse_content .mycourse_group:hover .mycourse_grouplist {
    visibility:visible;
}
.block_cam_mycourses .mycourse_content .mycourse_grouplist li {
    padding:5px 10px;
    list-style:none;
    text-align:center;
}
.block_cam_mycourses .mycourse_content ul.mycourse_grouplist li:hover {
    background:#EEEEEE;
}
.block_cam_mycourses .mycourse_content object {
    width:100%;
    height:100%;
}


/* Object CSS
-------------------------*/
html {
    background:transparent;
}
body.page-blocks-cam_mycourses-loaddisplay,
body.page-blocks-cam_mycourses-loaddisplay #page,
body.page-blocks-cam_mycourses-loaddisplay #page-content,
body.page-blocks-cam_mycourses-loaddisplay .region-content {
    margin:0;
    padding:0;
    background:transparent;
}
body.page-blocks-cam_mycourses-loaddisplay .region-content {

}

.block_cam_mycourses .mycourse_frame_hidden {
    display:none;
}

/* Settings CSS
-------------------------*/

.path-blocks-cam_mycourses #category-headers-container {
	clear:both;
	width:auto;
	max-width:500px;
	padding:0;
	margin:0 auto;
	border:1px solid #DDDDDD;
	background:#DDDDDD;
}
.path-blocks-cam_mycourses #category-headers-container div {
	float:left;
	clear:none;
	width:auto;
	font-weight:bold;
	margin:0;	
	padding:5px 0 5px 10px;
}
.path-blocks-cam_mycourses #category-headers-container #category-header-category {
	width:240px;	
}
.path-blocks-cam_mycourses #category-headers-container #category-header-display {
	width:80px;
}
.path-blocks-cam_mycourses #category-headers-container #category-header-cascade,
.path-blocks-cam_mycourses #category-headers-container #category-header-enrolled {
	width:60px;	
}
.path-blocks-cam_mycourses .mform {
	width:auto;
	max-width:500px;
	margin:0 auto;	
	border:1px solid #DDDDDD;
}
.path-blocks-cam_mycourses .mform fieldset {
	clear:both;
	width:auto;
	border:none;
	max-width:500px;
	padding:0;
	margin:0 auto 0;
}
.path-blocks-cam_mycourses .mform fieldset .advancedbutton {
	float:right;	
}
.path-blocks-cam_mycourses .mform fieldset legend {
	float:left;
	width:207px;
	font-weight:normal;
	white-space:normal;
	margin:0;
	padding:6px 10px;
}
.path-blocks-cam_mycourses .fcontainer {
	float:left;	
	margin: 0 !important;
	padding:0 !important;
}
.path-blocks-cam_mycourses .fcontainer .fitem {
	float:left;
	clear:none;
	width:auto;
	margin:0;	
	padding:6px 26px;
}
.path-blocks-cam_mycourses .fcontainer .fitem .fitemtitle,
.path-blocks-cam_mycourses .fcontainer .fitem .felement {
	width:100%;
	float:none;
	text-align:left;
}
.path-blocks-cam_mycourses .fcontainer .fitem .fitemtitle {
	display:none;	
}
.path-blocks-cam_mycourses .fcontainer .fitem .felement {
	clear:both;
	margin:0;
	veritcal-align:middle;
}
.path-blocks-cam_mycourses .fcontainer .fitem .fcheckbox {
	padding-top:4px;	
}
.path-blocks-cam_mycourses .fitem fieldset.fgroup {
	width:100%;	
	margin-top:5px !important;
	text-align:center !important;
}
.path-blocks-cam_mycourses .clear {
	clear:both !important;
	float:none !important;
	margin:0 !important;
	padding:0 !important;
	line-height:0 !important;
}
