/* My Courses Block
-------------------------*/
.block_cam_mycourses .mycourse_categories {
    float:left;
    width:120px;
    margin-top:15px;
}
.block_cam_mycourses .mycourse_categories .mycourse_category {
    font-size:0.9em;
    display:block;
    margin:0 0 2px;
    padding:7px 0 6px 10px;
    background:#EEEEEE;
    border-top:1px solid #DDDDDD;
    border-left:1px solid #DDDDDD;
    border-bottom:1px solid #DDDDDD;
}
.block_cam_mycourses .mycourse_categories .mycourse_category.selected {
    background:#FFFFFF;
    margin-right:-1px;
}
.block_cam_mycourses .content {
    padding:0 0 0 4px !important;
    background:#FAFAFA;
}
.block_cam_mycourses .mycourse_content {
    height:350px;
    overflow:auto;
    margin-left: 120px;
    padding:21px 15px;
    background:#FFFFFF;
    border-left:1px solid #DDDDDD;
}
.block_cam_mycourses .mycourse_contentframe {
    padding:0;
    background:transparent;
}
.block_cam_mycourses .mycourse_content .coursebox,
.block_cam_mycourses .mycourse_contentframe .coursebox {
    border:none;
    margin:0 0 5px;
    padding:0 0 10px;
    position:relative;
    -moz-border-radius:0;
}
.block_cam_mycourses .mycourse_content .coursebox h3,
.block_cam_mycourses .mycourse_contentframe .coursebox h3{
    margin:0 0 10px;
    padding:0 0 4px;
    text-align:left;
    border-bottom:1px solid #DDDDDD;
}
.block_cam_mycourses .mycourse_content .mycourse_group,
.block_cam_mycourses .mycourse_contentframe .mycourse_group {
    float:right;
    margin-top:-31px;
}
.block_cam_mycourses .mycourse_content .mycourse_grouplist,
.block_cam_mycourses .mycourse_contentframe .mycourse_grouplist{
    visibility:hidden;
    margin:0;
    padding:2px;
    position:absolute;
    top:-10px;
    right:0;
    z-index:1;
    background:#FFFFFF;
    border:1px solid #DDDDDD;
}
.block_cam_mycourses .mycourse_content .mycourse_group:hover .mycourse_grouplist,
.block_cam_mycourses .mycourse_contentframe .mycourse_group:hover .mycourse_grouplist{
    visibility:visible;
}
.block_cam_mycourses .mycourse_content .mycourse_grouplist li,
.block_cam_mycourses .mycourse_contentframe .mycourse_grouplist li{
    padding:5px 10px;
    list-style:none;
    text-align:center;
}
.block_cam_mycourses .mycourse_content ul.mycourse_grouplist li:hover,
.block_cam_mycourses .mycourse_contentframe ul.mycourse_grouplist li:hover{
    background:#EEEEEE;
}
.block_cam_mycourses .mycourse_content object {
    width:100%;
    height:100%;
}


/* Object CSS
-------------------------*/
html {
    background:transparent;
}
body.page-blocks-cam_mycourses-loaddisplay,
body.page-blocks-cam_mycourses-loaddisplay #page,
body.page-blocks-cam_mycourses-loaddisplay #page-content,
body.page-blocks-cam_mycourses-loaddisplay .region-content {
    margin:0;
    padding:0;
    background:transparent;
}
body.page-blocks-cam_mycourses-loaddisplay .region-content {

}
.block_cam_mycourses .mycourse_contentframe .coursebox .overview,
.block_cam_mycourses .mycourse_contentframe .coursebox .assignment {
    margin:0 0 15px
}
.block_cam_mycourses .mycourse_contentframe .coursebox .overview div,
.block_cam_mycourses .mycourse_contentframe .coursebox .assignment div {
    margin:3px 0 !important;
}
.block_cam_mycourses .mycourse_contentframe .coursebox .info {
    float:none;
    font-size:0.9em;
    font-style:italic;
}

.block_cam_mycourses .mycourse_frame_hidden {
    display:none;
}
